/* Overall styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: white;
}

body {
  overscroll-behavior: none;
}

#root {
  height: 100vh;
  background-color: #121212;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  min-width: 1092px;
}

nav {
  width: 30%;
  height: 100%;
  background: linear-gradient(to left, rgb(0 0 0 / 50%), #121212);
  border-right: white solid 1px;
}

.navList {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-right: 10px;
}

.navLink {
  color: white;
  text-decoration: none;
  display: block;
  margin: 20px 0;
  width: 50%;
  display: flex;
  align-items: center;
  transition: font-weight 300ms;
}

.navHyphen {
  width: 20px;
  height: 1px;
  display: inline-block;
  background-color: white;
  margin-right: 10px;
  transition: height 300ms, width 300ms;
}

.navLink:hover .navHyphen {
  width: 40px;
  height: 2px;
  font-weight: 600;
}

.navLink:hover {
  font-weight: 600;
}

.navIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}

.icon {
  font-size: 3em;
  padding: 15px;
  transition: font-size 300ms;
}

.navIcons a:hover .icon {
  font-size: 4em;
}

main {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

main::-webkit-scrollbar {
  display: none;
}

.mainContainer {
  width: 90%;
  height: 90%;
  position: relative;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7%;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  display: inline;
  background: linear-gradient(90deg, #A9F1DF, #FFBBBB);
  background-clip: text;
  color: transparent;
}

header img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 15%;
  box-shadow: rgba(0, 0, 0) 0px 10px 20px;
  z-index: 2;
  padding: 5px;
  border: white solid 2px;
  background-color: #121212;
}

.customRule {
  width: 100%;
  height: 0.5px;
  background-color: white;
  border-radius: 1em;
  position: relative;
  bottom: 25px;
  z-index: 1;
  margin-bottom: 50px;
}