/* Overall styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  overscroll-behavior: none;
  color: white;
}

#root {
  height: 100vh;
  background-color: #121212;
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 65%;
  min-width: 1092px;
}

nav {
  width: 30%;
  height: 100%;
  background: linear-gradient(to left, rgb(0 0 0 / 50%), #121212);
  border-right: white solid 1px;
}

.navList {
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: end;
  margin-right: 10px;
}

.navLink {
  color: white;
  text-decoration: none;
  display: block;
  margin: 20px 0;
  width: 50%;
  display: flex;
  align-items: center;
  transition: font-weight 300ms;
}

.navHyphen {
  width: 20px;
  height: 1px;
  display: inline-block;
  background-color: white;
  margin-right: 10px;
  transition: height 300ms, width 300ms;
}

.navLink:hover .navHyphen {
  width: 40px;
  height: 2px;
  font-weight: 600;
}

.navLink:hover {
  font-weight: 600;
}

.navIcons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15%;
}

.icon {
  font-size: 42px;
  padding: 15px;
  transition: font-size 300ms, color 300ms;
  color: white;
}

.icon:hover {
  font-size: 4em;
}

.mailButton:hover {
  color: #242526;
  cursor: copy;
}

.mail {
  position: relative;
}

.copyIcon {
  position: absolute;
  transform-origin: center center;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  font-size: 1em;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms, font-size 300ms;
}

.mailButton:hover ~ .copyIcon {
  opacity: 1;
  font-size: 2em;
}

.emailAddress {
  position: absolute;
  top: -20%;
  left: calc(50% - 135px);
  background-color: white;
  color: black;
  opacity: 0;
  width: 270px;
  border-radius: 5em;
  padding: 3px 0;
  text-align: center;
  box-shadow: rgba(0, 0, 0) 0px 0px 30px 10px;
  transition: opacity 300ms, font-size 300ms, width 300ms;
}

.mailButton:hover ~ .emailAddress {
  opacity: 1;
}

main {
  width: 70%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

main::-webkit-scrollbar {
  display: none;
}

.mainContainer {
  width: 90%;
  height: 90%;
  position: relative;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 7%;
}

header h1 {
  font-family: 'Oswald', sans-serif;
  font-size: 4rem;
  display: inline;
  background: linear-gradient(90deg, #A9F1DF, #FFBBBB);
  background-clip: text;
  color: transparent;
}

header img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  object-fit: cover;
  object-position: 50% 15%;
  box-shadow: rgba(0, 0, 0) 0px 10px 20px;
  z-index: 2;
  padding: 5px;
  border: white solid 2px;
  background-color: #121212;
}

.customRule {
  width: 100%;
  height: 0.5px;
  background-color: white;
  border-radius: 1em;
  position: relative;
  bottom: 25px;
  z-index: 1;
}

.mainContent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section {
  width: 80%;
  margin-top: 100px;
}

section .customRule {
  bottom: 0;
  margin: 10px 0;
}

.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutContainer p {
  margin-top: 20px;
  width: 90%;
}

section ul {
  margin: 5px 0 0 50px;
}

.grid-container {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-rows: repeat(5) 100%;
  gap: 75px 0;
  padding: 20px;
  justify-content: center;
  width: 90%;
}

.gridFlex {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skillsFlexContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0) 0px 0px 30px;
  border-radius: 1em;
}

.skillIcon {
  font-size: 42px;
  margin: 5px;
}

.oddIcon {
  width: 42px;
}

.skillsImg {
  height: 42px;
  margin: 5px;
}

.project {
  margin-bottom: 70px;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project h3 {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.projectFade {
  position: absolute;
  bottom: 0;
  height: 70%;
  width: 100%;
  background: linear-gradient(to bottom, rgba(18, 18, 18, 0), rgb(18, 18, 18));
  mask: linear-gradient(to bottom, transparent, #181818 80%);
  backdrop-filter: blur(2px);
  transition: opacity 500ms;
}

.fadeDisappear {
  opacity: 0;
}

.projectMain {
  width: 100%;
  padding: 30px 30px;
  overflow: hidden;
  position: relative;
  max-height: 1000px;
  transition: max-height 500ms;
}

.projectMainLimit {
  max-height: 500px;
}

.projectMain p {
  margin-bottom: 10px;
  text-align: justify;
}

.projectImgContainer {
  width: 50%;
  aspect-ratio : 1 / 1;
  overflow: hidden;
  position: relative;
  border-radius: 1em;
  padding: 10px;
  box-shadow: rgba(0, 0, 0) 0px 0px 30px;
  float: left;
  margin: 0 18px 10px 0;
  z-index: 999;
}

#plotTwistImg {
  height: 280%;
  position: absolute;
  top: 30%;
  left: 40%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-30deg);
}

#NcFrontImg {
  height: 250%;
  position: absolute;
  top: -10%;
  left: 35%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-15deg);
}

#NcBackImg {
  height: 280%;
  position: absolute;
  top: 30%;
  left: 40%;
  transform-origin: center center;
  transform: translate(-50%, -50%) rotate(-30deg);
}

.readMoreButton {
  padding: 7.5px 10px;
  border-radius: 10em;
  border: none;
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  z-index: 1;
  border: solid white 1px;
  cursor: pointer;
  transition: background-color 500ms, color 500ms;
}

.readMoreButtonUp {
  background-color: white;
  color: black;
}

.readMoreButtonDown {
  background-color: #121212;
  color: white;
}

.readMoreArrowUp {
  rotate: 0deg;
  transition: rotate 500ms;
}

.readMoreArrowDown {
  rotate: -180deg;
  transition: rotate 500ms;
}

.readMoreText {
  opacity: 1;
  transition: opacity 250ms;
}

.readMoreTextTransition {
  opacity: 0;
  transition: opacity 250ms;
}